# Base de données
DATABASE_URL=
PRISMA_MIGRATE_SHADOW_DATABASE_URL=
# Port du serveur
PORT=

# JWT Secret (générer une clé sécurisée pour la production)
SECRET_KEY=

#Cloudinary for files
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#Redis
REDIS_HOST=
REDIS_PORT=